//Skill Rotating Animations

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

//Scroll Down Mouse Animations

@keyframes arrow_intro {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrows {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes stroke {
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

//Nav Menu Animations

@keyframes ham-top-to-cross {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes ham-top-to-burger {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes ham-middle-to-cross {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes ham-middle-to-burger {
  from {
    transform: translateY(-7px) rotate(-45deg);
  }

  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes slow-slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slow-slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slow-fade-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slow-fade-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slow-fade-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
