.contact-view {
  width: 100%;
  height: auto;
}

.contact-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $primary;
  border-right: 1px solid $primary;
}

.contact {
  padding: 150px 250px;
  color: $white;

    .contact-heading {
      font-size: 40px;
      margin-bottom: 100px;
      position: relative;
    }

    .contact-form {

      .contact-fieldset {
        margin-bottom: 30px;

        .contact-label,
        .contact-input {
          display: block;
          position: relative;
        }

        .contact-label {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .contact-input,
        .contact-input-long {
          font-size: 18px;
          background-color: transparent;
          border: none;
          color: $white;
          border-bottom: 1px solid $white;
        }

        .contact-input:active,
        .contact-input:focus,
        .contact-input-long:active,
        .contact-input-long:focus {
          outline: none;
        }

        .contact-input {
          width: 100%;
        }

        .contact-input-long {
          width: 100%;
        }

      }

      .contact-submit {
        position: relative;
        float: right;
        margin-top: 50px;
        padding: 15px 30px;
        color: $white;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        background-color: $secondary;
      }

    }

}

.contact-social-row {
  top: 50px;
  position: relative;
}

.contact-social {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  // background-color: $secondary;
  display: inline-block;
  position: relative;
  background-size: contain;
}

.linkedin {
  background: url('../assets/images/linkedin-logo.svg') no-repeat 18px 16px, $secondary;
  background-size: 25px;
}

.github {
  background: url('../assets/images/github.svg') no-repeat 18px 16px, $secondary;
  background-size: 25px;
}

.codepen {
  background: url('../assets/images/codepen.svg') no-repeat 18px 16px, $secondary;
  background-size: 25px;
}

.insta {
  background: url('../assets/images/instagram.svg') no-repeat 18px 16px, $secondary;
  background-size: 25px;
}
