$primary:                 #002244;  //Dark Blue/Blue Zodiac Backgrounds, text
$secondary:               #F46A1F;  //Orange/Flamingo       Buttons, icons, highlights, subheaders
$white:                   #F3F4F1;  //White/Cararra         Backgrounds, text, icons
$grey:                    #555555;  //Grey                  text, icons
$secondary-buttons:       #8FABB8;  //Teal/Bali Hai         Buttons
$accents:                 #B87F53;  //Green/Muddy Waters    Panel backgrounds, success buttons
$danger:                  #F44336;  //red                   Error buttons and text
$warning:                 #ff9800;  //warning Orange        Warning buttons and text
$success:                 #4caf50;  //Success Green         Success buttons and text
$footer:                  #333333;  //Black                 Footer Background
